@{
    ViewBag.Title = "Home Page";
}
<p id="nazwa">Poradnia stomatologiczna</p>


<div class="row">
    <div class="col-md-4">
        <h2>Informacje o poradni</h2>
        <p>
           Poradnia stomatologiczna znajduje się w Częstochowie przy ulicy Dąbrowskiego 26/30.
        </p>
        <p>Telefon:</p>
        <p>+485056438178</p>
        
    </div>
    <div class="col-md-4">
        <h2>Usługi</h2>
        <p>Przegląd stomatologiczny</p>
        <p>Leczenie stomatologiczne</p>
        <p>Stomatologia dziecięca</p>
        <p>Chirurgia stomatologiczna</p>

        
    </div>
    </div>
